<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.layoa.student.dao.RoleDao">
	<!--主查询  -->
	<sql id="role_select_base">
		SELECT ROW_ID,ROLE_CODE,ROLE_NAME,ROLE_KIND,ROLE_INFO,CREATE_BY,CREATE_DATE,UPDATE_BY,UPDATE_DATE FROM TB_ROLE WHERE ACTIVE_FLAG=1
	</sql>
	<!--保存角色  -->
	<insert id="save" parameterType="Role" useGeneratedKeys="true" keyProperty="rowId" keyColumn="ROW_ID">
		INSERT INTO TB_ROLE (ROLE_CODE,ROLE_NAME,ROLE_KIND,ROLE_INFO,CREATE_BY,CREATE_DATE)
		VALUES(#{roleCode},#{roleName},#{roleKind},#{roleInfo},#{createBy},#{createDate})
	</insert>

	<!--校验角色名字唯一性-从数据库查询有没有相同的名字 -->
	<select id="chenckName" resultType="Role">
	<include refid="role_select_base"></include> AND ROLE_NAME = #{roleName}
	</select>
</mapper>